.meetingPlace{
    margin-top: 10%;
    height: 90vh;
}

.filters {
    padding: 50px;
    display: flex;
    justify-content: space-around;
}

.filter{
    width: 30%;
}

.filterButton{
    width: 10%;
}

.filterResult{
    display: flex;
    align-items: center;
    justify-content: space-around;
}