.meetingPlaceFilterResult{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    height: 350px;
    padding: 20px;
    background-color: rgb(108, 102, 102);
    border-radius: 30px 10px 30px 10px ;
}

.meetingPlaceFilterResult h1{
    font-size: 25px;
    color: aliceblue;
}

.meetingPlaceFilterResult img{
    height: 180px;
}

.meetingPlaceFilterResult button{
    width: 50%;
}